a:link, a:visited {
	text-decoration: none;
	color: black;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;

	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 900px) {
	body {
		flex-direction: column;
	}

	body > div#sidebar {
		flex-basis: auto;
		padding: 25px;
	}

	div#sidebar nav {
		margin-top: 25px;
	}

	#logo {
		height: 70px;
	}

	main > div#banner {
		font-size: 40pt;
	}

	#categories {
		text-align: center;
	}
	#categories li {
		display: inline;
	}

	div#introduction section {
		flex-direction: column;
	}

	div#introduction section > :first-child {
		margin: 0;
	}

	div#introduction section img {
		width: 100%;
	}
}

div#sidebar {
	background-color: #E34437;
	box-shadow: 0 0 5px grey;

	padding: 50px;
	box-sizing: border-box;
	color: white;

	flex: 0 0 300px;

	display: flex;
	flex-direction: column;
}

div#sidebar a:link, div#sidebar a:visited {
	color: white;
}

#logo {
	width: 100%;
	box-sizing: border-box;
}

#slogun {
	text-align: center;
	margin: 10px 0;
}

nav {
	flex-grow: 1;
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

ul#categories {
	margin: 0;
	padding: 0;
}

ul#categories li {
	padding: 10px;
	list-style-type: none;
	font-size: 17pt;
	border-radius: 5px;
	/* cursor: pointer; */

	transition: background-color 0.2s, color 0.2s;
}
ul#categories li a {
	position: relative;
	left: 0px;
	transition: color 0.2s, left 0.2s;
}
ul#categories li:hover {
	background-color: white;
	color: black;
}
ul#categories li:hover a {
	color: black;
	left: 15px;
}

main {
	flex-grow: 1;
	flex-shrink: 1;
	box-sizing: border-box;
	overflow-y: scroll;
}

main > .component {
	margin: 50px;
}

main footer {
	text-align: center;
}

@keyframes showup {
	from {
		opacity: 0;
		bottom: 30px;
	}
	to {
		opacity: 1;
		bottom: 0;
	}
}
.showup {
	animation-duration: 2s;
	animation-name: showup;
	position: relative;
}

div#banner {
	margin: 50px 0;
	padding: 50px;
	box-sizing: border-box;
	
	height: 350px;

	background-image: url('/assets/img/test_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	text-align: center;
	color: white;
	font-size: 50pt;
	text-shadow: 0 0 30px #666666;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.post_header {
	font-size: 10pt;
	color: #777777;
}

.post_categories {
	float: left;
}

.post_date {
	float: right;
}

.post_title {
	clear: both;
	font-size: 25pt;
	padding: 10px 0;
	color: black;
}

.post_title a:link, .post_title a:visited {
	color: black;
	text-decoration: none;
}

.post_tag {
	border-radius: 5px;
	background: #dddddd;
	padding: 3px 5px;
	font-size: 10pt;
	color: #555555;
}

.post_content {
	padding: 10px 0;
}

.paginator {
	display: flex;
	flex-direction: row;
}
.paginator_previous, .paginator_next {
	flex: 3;
}
.paginator_current {
	text-align: center;

	flex: 1;
}
.paginator_previous {
	text-align: right;
}
.paginator_next {
	text-align: left;
}

.executives .year, .members .year, .history_year {
	background: #E34437;
	border-radius: 5px;
	padding: 3px 7px;
	color: white;
}

.member_card {
	border: 1px solid #E34237;
	border-top: 10px solid #E34237;
	border-radius: 5px;
	margin: 0 0 50px 0;
	padding: 20px;
}

.member_card header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.member_card div.profile_picture {
	flex-basis: 100px;
}

.member_card div.name {
	flex: 1 1 auto;
}

.member_name, .member_nickname {
	margin: 10px 0;
}

#introduction section {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 0;
}
#introduction section h1 {
	font-size: 25pt;
}
#introduction section > img {
	flex: 1;
	width: 0;
}
#introduction section > div {
	flex: 2;
}
#introduction section > :first-child {
	margin-right: 50px;
}
