:root {
	--ansi-red: #E1443D;
	--ansi-black: #383131;
	--ansi-white: #F6F1F1;
	--ansi-cyan: #75B5C4;
	--ansi-yellow: #EEE273;
	--ansi-green: #A6D3B2;
	--ansi-brown: #D5C195;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: var(--ansi-black);
}

h1, h2, h3 {
	font-weight: normal;
}

pre {
	margin: 0;
}

html {
	height: 100%;
	background-color: var(--ansi-white);
}

body {
	margin: 0;
	height: 100%;

	display: flex;
	flex-direction: row;

	font-family: 'Noto Sans KR', sans-serif;
}

@media only screen and (max-width: 900px) {
	body {
		flex-direction: column;
	}

	body > div#sidebar {
		flex-basis: auto;
		padding: 15px;
	}

	div#sidebar nav {
		margin-top: 10px;
	}

	#logo {
		height: 30px;
		margin: 10px 0;
	}
	#slogun {
		font-size: 12px;
	}

	main > div#banner {
		font-size: 40pt;
	}
	html main > .component {
		margin: 25px;
	}

	#categories {
		text-align: center;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	ul#categories li {
		font-size: 15px;
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
	}
	ul#categories li:hover a {
		color: var(--ansi-black);
		left: 0px;
		bottom: 5px;
		transition: color 0.2s, bottom 0.2s;
	}

	div#introduction section {
		flex-direction: column;
	}

	div#introduction section > :first-child {
		margin: 0;
	}

	div#introduction section img {
		width: 100%;
	}
}

div#sidebar {
	background-color: var(--ansi-red);
	/* box-shadow: 0 0 5px grey; */

	padding: 50px;
	box-sizing: border-box;
	color: var(--ansi-white);

	flex: 0 0 300px;

	display: flex;
	flex-direction: column;
}

div#sidebar a:link, div#sidebar a:visited {
	color: var(--ansi-white);
}

#logo {
	width: 100%;
	box-sizing: border-box;
}

#slogun {
	text-align: center;
	/* font-weight: lighter; */
	margin: 10px 0;
}

nav {
	flex-grow: 1;
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

#categories {
	margin: 0;
	padding: 0;
}
#categories li {
	padding: 10px;
	list-style-type: none;
	font-size: 17pt;
	border-radius: 5px;

	transition: initial;
}
#categories li a {
	position: relative;
	left: 0px;
	bottom: 0px;
}
#categories li:hover {
	background-color: var(--ansi-white);
	color: var(--ansi-black);
	transition: background-color 0.2s, color 0.2s;
}
#categories li:hover a {
	color: var(--ansi-black);
	left: 15px;
	transition: color 0.2s, left 0.2s;
}

main {
	flex-grow: 1;
	flex-shrink: 1;
	box-sizing: border-box;
	overflow-y: scroll;
}

main > .component {
	margin: 50px;
}

main footer {
	padding: 25px;

	background-color: var(--ansi-black);
	color: white;

	text-align: center;
	font-size: 14px;
}

main footer a, main footer a:link, main footer a:visited, main footer a:hover {
	color: white;
}

footer #externals {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

footer #externals *, footer #copyright {
	margin: 10px;
}

@keyframes showup {
	from {
		opacity: 0;
		bottom: 30px;
	}
	to {
		opacity: 1;
		bottom: 0;
	}
}
.showup {
	animation-duration: 2s;
	animation-name: showup;
	position: relative;
}

#banner {
	margin: 50px 0;
	padding: 50px;
	box-sizing: border-box;
	
	height: 350px;

	background-image: url('/assets/img/test_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	text-align: center;
	color: #F6F1F1;
	font-size: 45pt;
	/* text-shadow: 0 0 30px #666666; */
	font-weight: lighter;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
}
#banner:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
#banner span {
	z-index: 1;
}

.post_header {
	font-size: 9pt;
	color: var(--ansi-black);
	margin: 30px 0;
}

.post_header::after {
	display: block;
	content: "";
	clear: both;
}

.post_categories {
	float: left;
	margin: 10px 0;

	border-radius: 5px;
	background-color: var(--ansi-cyan);
	padding: 1px 5px;
	color: white;
	box-sizing: border-box;
}

.post_date {
	float: right;
	margin: 10px 0;

	border-radius: 5px;
	background-color: var(--ansi-green);
	padding: 1px 5px;
	color: white;
	box-sizing: border-box;
}

.post_title {
	clear: both;
	font-size: 18pt;
	/* padding: 10px 0; */
	margin: 15px 0;
	color: var(--ansi-black);

	font-weight: bold;
}

.post_title a:link, .post_title a:visited {
	color: var(--ansi-black);
	text-decoration: none;
}

.post_author {
	clear: both;
	float: right;
	margin: 15px 0;
	margin-top: 0;

	border-radius: 5px;
	background-color: var(--ansi-brown);
	padding: 1px 5px;
	color: white;
	box-sizing: border-box;
}

.post_tags {
	float: left;
	margin: 15px 0;
	margin-top: 0;
}

.post_tag {
	border-radius: 5px;
	background-color: var(--ansi-brown);
	padding: 1px 5px;
	/* font-size: 10pt; */
	color: white;
	box-sizing: border-box;
}

.post_content {
	/* padding: 10px 0; */
	margin: 20px 0;
}
.post_content a {
	color: #0000ff;
}
.post_content h1 {
	font-size: 27px;
}
.post_content p {
	text-align: justify;
}

figure.highlight {
	background-color: #00000011;
	border-radius: 5px;
	margin: 0;
	padding: 15px;
	overflow-x: auto;
}
.highlighter-rouge {
	background-color: #00000011;
	border-radius: 5px;
}
div.highlight {
	padding: 15px;
	overflow-x: auto;
}
code.highlighter-rouge {
	padding: 3px;
}
code {
	font-family: 'Nanum Gothic Coding', monospace, 'Consolas', monospace;
}
code .mi {
	color: #a8932d;
}
code .cp {
	color: #777777;
}
code .kt, code .k {
	color: #880088;
	font-weight: bold;
}
code .c1 {
	color: #009900;
}
code .s, code .se, code .s2, code .s1 {
	color: #0000cc;
}
code .si {
	color: #000077;
}

.paginator {
	display: flex;
	flex-direction: row;

	padding: 25px;
	margin: 25px 0;
	color: var(--ansi-black);
}

.paginator_previous, .paginator_next {
	flex: 3;
}
.paginator_previous a:link, .paginator_previous a:visited
, .paginator_next a:link, .paginator_next a:visited {
	color: var(--ansi-black);
}

.paginator_current {
	text-align: center;

	flex: 1;
}
.paginator_previous {
	text-align: right;
}
.paginator_next {
	text-align: left;
}

.page_seperator {
	font-weight: 900;
	margin: 0 5px;
}
.paginator_button, .page_num {
	border-radius: 5px;
	background-color: white;
	padding: 5px 13px;
}

.executives .year, .members .year, .history_year {
	background: var(--ansi-brown);
	border-radius: 5px;
	padding: 3px 7px;
	color: var(--ansi-white);
}

.member_card {
	border: 1px solid var(--ansi-red);
	border-top: 10px solid var(--ansi-red);
	border-radius: 5px;
	margin: 0 0 50px 0;
	padding: 20px;
}

.member_card header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.member_card div.profile_picture {
	flex-basis: 100px;
}

.member_card div.name {
	flex: 1 1 auto;
}

.member_name, .member_nickname {
	margin: 10px 0;
}

#introduction section {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 0;
}
#introduction section h1 {
	font-size: 25pt;
}
#introduction section > img {
	flex: 1;
	width: 0;
}
#introduction section > div {
	flex: 2;
}
#introduction section > :first-child {
	margin-right: 50px;
}

.post_list a, .post_list a:visited {
	color: var(--ansi-black);
}

.tag_title {
	border-radius: 5px;
	background-color: var(--ansi-brown);
	padding: 3px 7px;
}
.tag_title a {
	color: white;
}
