<div class="paginator component">
	{% if paginator %}

	<span class="paginator_previous">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}">Previous</a>
		{% endif %}
	</span>

	<span class="paginator_current">
		{{ paginator.page }} / {{ paginator.total_pages }}
	</span>

	<span class="paginator_next">
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}">Next</a>
		{% endif %}
	</span>

	{% endif %}

	<!-- test -->
	<!--
	<div>
		{% if paginator %}

		{% assign start = paginator.page | minus: 2 %}
		{% assign end = paginator.page | plus: 2 %}

		{% if start < 1 %}
			{% assign start = 1 %}
		{% endif %}

		{% if end > paginator.total_pages %}
			{% assign end = paginator.total_pages %}
		{% endif %}

		<p>
		{% for page in (start..end) %}
			{% if page == 1 %}
				{% assign url = site.paginate_root %}
			{% else %}
				{% assign url = site.paginate_path | replace: ':num', page %}
			{% endif %}

			<a href="{{ url }}">{{ page }}</a>
		{% endfor %}
		</p>

		{% endif %}
	</div>
	-->
</div>
