---
layout: default
---

{% include paginator.html %}

{% for post in paginator.posts %}
<div class="post_preview">
	<header class="post_header">
		<span class="post_categories">{{ post.categories | join: '/' }}</span>
		<span class="post_date">{{ post.date }}</span>
		<h1 class="post_title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h1>
		<div class="post_tags">
			{% for tag in post.tags %}
			<span class="post_tag">#{{ tag }}</span>
			{% endfor %}
		</div>
	</header>
	<section class="post_content post_preview_content">
		<p>{{ post.content | truncate: '300' }}</p>
	</section>
</div>
{% endfor %}

{% include paginator.html %}
